@model RecipeManager.Web.Models.RecipeViewModel

@{
    ViewData["Title"] = "Home Page";
}

<p>Recipes:
    <ul>
    @{
    foreach(var item in Model.Recipes)
    {
       <li>@item.Name -
       @item.Description</li> 
    }

}</ul></p>

@using (Html.BeginForm("Create", "Home", FormMethod.Post))
{
    <table>
        <tr>
            <td>Enter Name: </td>
            <td><input type="text" name="Recipe.Name" /></td>
        </tr>
        <tr>
            <td>Enter Description: </td>
            <td><input type="text" name="Recipe.Description" /></td>
        </tr>
        <tr>
            <td colspan="2"><input type="submit" value="Submit Form"/></td>
        </tr>
    </table>
}