@model RecipeManager.Web.Models.RecipeViewModel

@{
    ViewData["Title"] = "Home Page";
}

@*<p>
    Recipes:
    @{
    foreach(var item in )
    {
        @item.Name
        @item.Description
    }
}
</p>  *@ 

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
